*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.a{
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50px;
}
.b{
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  border-radius: 24px;
}
.c{
  background-color: #fff;
  padding: 8px;
  display: inline-block;
  border: 1px solid #000;
  margin: 4px 0;
}
.d{
  background-color: #000;
  color: #fff;
  display: inline-block;
  max-width: 305px;
  padding: 8px;
}
.d h3{
  margin-bottom: 4px;
}
.e{
  background-color: #fff;
  display: inline-block;
  max-width: 420px;
  padding: 8px;
  box-shadow: 4c px 3px 0 rgba(0, 0, 0, 0.8);
}
.e img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  vertical-align: middle;
}
.e input{
  padding: 8px 20px;
  border: none;
  font-size: 16px;
}
.e button{
  background-color: gray;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
}
.challenge{
  background-color: #fff;
}
.challenge .box{
  display: inline-block;
  width: 300px;
  padding: 4px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.challenge .box image{
  width: 100%;
}
.challenge .box img{
  width: 100%;
}
.challenge .box button{
  background-color: rgb(78, 78, 156);
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}