*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.challenge{
  background-color: #fff;
  display: inline-block;
  padding: 8px;
  text-align: center;
}