*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.drawB{
  background-color: #fff;
  width: 400px;
  padding: 8px;
  margin: 8px 0;
}
.drawB .row{
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  padding: 2px;
}
.drawB .row .image{
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}
.drawB .row .image img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.drawB .row .data{
  display: inline-block;
  width: 150px;
  vertical-align: middle;
}
.drawB .row *{
  margin: 8px 0;
}

.drawB .row button{
  background-color: rgb(73, 73, 143);
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
}
.drawC{
  background-color: #fff;
  width: 500px;
  padding: 8px;
  margin: 8px 0;
}
.drawC .row{
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
  margin: 2px;
}
.drawC .row .image{
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}
.drawC .row .image img{
  width: 100%;
}
.drawC .row .data{
  display: inline-block;
  width: 250px;
  vertical-align: top;
}
.drawC .row .data h3{
  margin-bottom: 12px;
}
.drawC .row .data .auher{
  margin: 8px 0;
}
.drawD{
  background-color: #fff;
  width: 600px;
  padding: 8px;
  margin: 8px 0;
}
.drawD .col{
  display: inline-block;
  width: 190px;
  padding: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
.drawD .col .image img{
  width: 100%;
}
.drawD .col .data .mutuals{
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50%;
}
.drawD .col .data .friends{
  display: inline-block;
}
.drawD .col .data button{
  background-color: rgb(50, 81, 167);
  color: #fff;
  padding: 8px 20px;
  border: none;
  margin-top: 4px;
  font-size: 16px;
  border-radius: 4px;
}