*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.uber, .amazon, .github, .bootstrap, .linkedin{
  background-color: #fff;
  display: inline-block;
  padding: 8px;
  margin: 4px 0;
}
.uber button{
  background-color: #000;
  color: #fff;
  padding: 8px 20px;
  font-size: 16px;
  border: none;
  border-radius: 1px;
}
.amazon button{
  background-color: rgb(255, 216, 20);
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 24px;
}
.github button{
  background-color: rgb(46, 164, 79);
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}
.bootstrap .start{
  background-color: rgb(121, 82, 179);
  color: #fff;
  padding: 8px 20px;
  border: none;
  font-size: 16px;
}
.bootstrap .download{
  color: rgb(108, 117, 125);
  border: 1px solid rgb(108, 117, 125);
  padding: 7px 20px;
  font-size: 16px;
}
.linkedin .apply{
  background-color: rgb(10, 102, 194);
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
}
.linkedin .save{
  color: rgb(10, 102, 194);
  border: 1px solid rgb(10, 102, 194);
  background-color: #fff;
  padding: 7px 20px;
  font-size: 16px;
  border-radius: 24px;
}
.challenge{
  background-color: #fff;
  max-width: 300px;
}
.challenge a{
  text-decoration: none;
  color: green;
}
.challenge h3{
  margin: 8px 0;
}
.challenge .add{
  background-color: rgb(255, 216, 20);
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 24px;
}
.challenge .buy{
  background-color: rgb(243, 214, 72);
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 24px;
}