*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.h, .i, .j, .k{
  background-color: #fff;
  display: inline-block;
  padding: 8px;
}
ul{
  display: inline-block;
}
li{
  list-style-type: none;
  display: inline;
}
.h button, .i button, .j button, .k button {
  background-color: green;
  padding: 8px 20px;
  border: none;
  color: #fff;
  font-size: 16px;
  transition: padding 0.4s;
}
.i button:hover{
  padding: 8px 30px 12px 20px;
}
.j button{
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.j button:active{
  box-shadow: none;
}
.k button:hover{
  padding: 8px 30px;
}