*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.container{
  display: flex;
  justify-content: space-between ;
}
.container .child{
  background-color: salmon;
  padding: 20px;
}