*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
} 
.parent{
  width: 400px;
  padding: 20px;
  background-color: #fff;
  display: flex; 
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center ;
}
.parent .child{
  width: 100px;
  height: 100px;
  color: #fff;
  border: 1px solid #000;
}
.parent .child:nth-child(1){
  background-color: red;
}
.parent .child:nth-child(2){
  background-color: blue;
}
.parent .child:nth-child(3){
  background-color: green;
}