*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  margin: 50px;
  font-family: sans-serif;
}
.container{
  height: 500px;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.container .child{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color: #fff;
}
.child:nth-child(1){
  padding: 80px;
  background-color: rebeccapurple;
}
.child:nth-child(2){
  
  background-color: black;
}
.child:nth-child(3){
  background-color: firebrick;
}