*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.a{
  background-color: red;
  width: 100px;
  height: 100px;
  margin-bottom: 8px;
}
.b{
  background-color: green;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-bottom: 8px;
}
.c{
  background-color: #fff;
  margin: 8px;
  padding: 8px;
  border: 1px solid #333;
  width: 300px;
}
.d{
  background-color: #000;
  color: #fff;
  width: 400px;
  padding: 8px;
}
.e{
  background-color: #fff;
  width: 400px;
  margin: 8px 0;
  padding: 8px;
}
.e img{
  width: 70px;
  height: 70px;
  border-radius: 35px;
  vertical-align: middle;
}
.e input{
  border: none;
  padding: 8px 10px;
  font-size: 16px;
}
.e button{
  background-color: rgb(114, 114, 158);
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
}
.challenge{
  background-color: #fff;
  margin: 8px 0;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.challenge .col{
  padding: 1px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.challenge .col img{
  width: 300px;
  margin-bottom: 4px;
}
.challenge .col button{
  margin-top: 4px;
  background-color: rgb(70, 80, 109);
  color: #fff;
  border: none;
  padding: 8px 20px;
  margin-bottom: 4px;
}
.google{
  padding: 8px;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  background-color: #fff;
}
.google img{
  display: block;
  width: 400px;
  margin: 0 auto;
}
.google input{
  display: block;
  margin: 8px auto;
  width: 400px;
  padding: 8px 20px;
  border: none;
  border-radius: 24px;
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.google button{
  background-color: rgb(240, 240, 240);
  border: none;
  padding: 8px 20px;
  font-size: 16px;
}