*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.a, .b, .c, .d{
  display: inline-block;
  background-color: #fff;
  padding: 10px   ;
}
.b button{
  background-color: green;
  color: #fff;
  padding: 8px 20px;
  transition: padding 0.4s;
}
.b button:hover{
  cursor: pointer;
  padding: 12px 30px;
}
.c button{
  background-color: green;
  color: #fff;
  padding: 8px 20px;
  transition: margin 0.4s;
}
.c button:hover{
  margin-top: 4px;
  margin-left: 4px;
}
.d button{
  background-color: green;
  color: #fff;
  padding: 8px 20px; 
  transition: padding 0.4s;
}
.d button:hover{
  padding: 8px 24px;
}