*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.a8{
  padding: 4px;
  width: 300px;
  background-color: #fff;
}
.a8 input{
  display: block;
  width: 80%;
  margin: 8px;
  padding: 8px 20px;
  border-radius: 2px;
}
.b8{
  background-color: #fff;
  width: 400px;
  padding: 8px;
  margin: 4px;
}
.b8 p{
  vertical-align: middle;
  display: inline-block;
  width: 75%;
}
.b8 button{
  padding: 4px 10px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
}
.c8{
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.c8 img{
  width: 60%;
  display: block;
  margin: 0 auto;
}
.c8 input{
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 8px 20px;
  border: none;
  box-shadow: 4px 4px 10px rgb(0, 0, 0);
  border-radius: 24px;
  font-size: 18px;
}
.c8 button{
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0);
  margin: 10px 0;
}