@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: "Oswald", sans-serif;
}
.a{
  background-color: #fff;
  width: 400px;
  padding: 8px;
}
.a img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 8px;
}
.a .info{
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}
.a button{
  background-color: blue;
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}
.c{
  background-color: #fff;
  padding: 8px;
  margin: 8px 0;
}
.c .row{
  padding: 8px;
  display: inline-block;
  width: 600px;
}
.c .row .image{
  display: inline-block;
  width: 40%;
}
.c .row .image img{
  width: 100%;
}
.c .row .info{
  display: inline-block;
  width: 55%;
  vertical-align: top;
}
.c .info p{
  margin-top: 8px;
}