*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.uber, .amazon, .github, .bootstrap, .linkedin{
  background-color: #fff;
  display: inline-block;
  padding: 20px;
}
.uber button{
  border: none;
  padding: 8px 20px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
}
.amazon button{
  background-color: rgb(255, 216, 20);
  border: none;
  padding: 8px 30px;
  border-radius: 24px;
  font-size: 18px;
}
.github button{
  background-color: rgb(46, 164, 79);
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
}
.bootstrap .get{
  background-color: rgb(121, 82, 179);
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
}
.bootstrap .download{
  background-color: #fff;
  border: 1px solid rgb(108, 117, 125);
  color: rgb(108, 117, 125);
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
}
.linkedin .apply{
  background-color: rgb(10, 102, 194);
  border: none;
  color: #fff;
  border-radius: 24px;
  padding: 8px 30px;
  font-size: 18px;
  font-weight: bold;
}
.linkedin .save{
  background-color: #fff;
  border: 1px solid rgb(10, 102, 194);
  color: rgb(10, 102, 194);
  border-radius: 24px;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
}