*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.uber, .amazon, .github, .bootstrap, .linkedin{
  display: inline-block;
  background-color: #fff;
  max-width: 500px;
  padding: 10px;
}
.uber button{
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
}
.amazon button{
  background-color: rgb(255, 216, 20);
  padding: 10px 30px;
  border: none;
  font-size: 18px;
  border-radius: 24px;
}
.github button{
  background-color: rgb(46, 164, 79);
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  border-radius: 4px;
}
.bootstrap .get{
  background-color: rgb(121, 82, 179);
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  border-radius: 4px;
}
.bootstrap .download{
  background-color: #fff;
  color: rgb(108, 117, 125);
  padding: 9px 20px;
  border: 1px solid rgb(108, 117, 125);
  font-size: 18px;
  border-radius: 4px;
}
.linkedin .apply{
  background-color: rgb(10, 102, 194);
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  border-radius: 24px;
}
.linkedin .save{
  background-color: #fff;
  color: rgb(10, 102, 194);
  padding: 9px 20px;
  border: 1px solid rgb(10, 102, 194);
  font-size: 18px;
  border-radius: 24px;
}
.challenge{
  background-color: #fff;
  width: 400px;
  margin-top: 8px;
  padding: 10px 0;
}
.challenge a{
  color: rgb(0, 113, 133);
}
.challenge h1{
  font-family: serif;
}
.challenge span{
  color: rgb(0, 118, 0);
}
.challenge .add{
  background-color: rgb(255, 216, 20);
  padding: 10px 30px;
  border: none;
  font-size: 18px;
  border-radius: 24px;
}
.challenge .buy{
  background-color: rgb(255, 164, 28);
  padding: 10px 30px;
  border: none;
  font-size: 18px;
  border-radius: 24px;
}