*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.a{
  width: 100px;
  height: 100px;
  background-color: green;
}
.b{
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
}
.c{
 background-color: #fff; 
 margin: 4px 0;
 display: inline-block;
 padding: 4px;
}
.d{
  background-color: #333;
  color: #fff;
  padding: 8px;
  display: block;
  width: 500px;
}
.e{
  background-color: #fff;
  display: inline-block;
  width: 400px;
  padding: 8px;
  margin: 4px 0;
}
.e img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
}
.e input{
  width: 200px;
  padding: 8px 20px;
  border: none;
  border-radius: 24px;
  font-size: 16px;
}
.e button{
  background-color: rgb(76, 76, 134);
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
}
.f{
  background-color: #fff;
  display: inline-block;
  margin: 0 auto;
  padding: 4px;
}
.f .col{
  width: 200px;
  padding: 4px;
  display: inline-block;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.f .col img{
  width: 100%;
}
.f button{
  background-color: rgb(76, 76, 134);
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}
.google{
  background-color: #fff;
  padding: 8px;
  text-align: center;
  margin: 0 auto;
}
.google input{
  display: block;
  margin: 8px auto;
  width: 500px;
  padding: 8px 20px;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.google button{
  background-color: rgb(204, 204, 204);
  padding: 8px 20px;
  border: none;
  font-size: 16px;
  
}