*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.a{
  background-color: #fff;
  width: 420px;
  padding: 4px;
}
.a .picture{
  display: inline-block;
  width: 20%;
  vertical-align: middle;
}
.a img{
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.a .data{
  display: inline-block;
  width: 55%;
  vertical-align: middle;
}
.a button{
  background-color: rgb(103, 103, 196);
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}
.c{
  background-color: #fff;
  width: 500px;
  padding: 8px;
}
.c .image{
  display: inline-block;
  width: 40%;
}
.c .image img{
  width: 100%;
}
.c .info{
  display: inline-block;
  width: 58%;
  vertical-align: top;
}
.c .info .title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}
.c .info .name{
  margin: 8px 0;
  color: rgb(97, 97, 97);
  font-size: 14px;
}
.c .info .stats{
  margin-top: 8px;
  font-size: 16px;
}