*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.a, .b{
  background-color: #fff;
  display: block;
  padding: 8px;
  width: 400px;
  margin: 8px 0;
}
.a input{
  display: block;
  margin: 4px 0;
  padding: 4px 10px;
  width: 100%;
}
.b p{
  display: inline-block;
  width: 80%;
  vertical-align: middle;
}
.b button{
  padding: 2px 4px;
}
.c-google-logo{
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 8px;
}
.c-google-logo img{
  width: 40%;
  display: block;
  margin: 0 auto;
}
.c-google-logo input{
  padding: 8px 30px;
  width: 80%;
  border: none;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  margin: 0 auto;
  display: block;
  font-size: 16px;
}
.c-google-logo .buttons{
  margin: 0 auto;
  text-align: center;
  margin: 8px;
}
.c-google-logo .buttons button{
  background-color: rgb(206, 200, 200);
  border: none;
  padding: 8px 20px;
  font-size: 18px;
  
}
.challenge{
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
}
.challenge .a, .challenge .b{
  width: 48%;
  display: inline-block;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.challenge .first, .challenge .last{
  display: inline-block;
  width: 156px;
  border-radius: 2px;
}
.challenge .email{
  width: 98%;
  border-radius: 2px;
}
.challenge .a button{
  background-color: blue;
  color: #fff;
  width: 98%;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 16px;
}
.challenge input{
  width: 100%;
  padding: 8px 20px;
  margin: 4px 0;
  border-radius: 2px;
}
.challenge button{
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 16px;
}