*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.a{
  background-color: #fff;
  width: 300px;
  display: flex;
}
.a .left{
  width: 100px;
  background-color: palevioletred;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a .left p{
  background-color: #000;
  color: #fff;
  padding: 4px 10px;
}
.a .right{
  background-color: lightblue;
  width: 200px;
}
.b{
  background-color: #fff;
  width: 300px;
  height: 100px;
  display: flex;
  margin-top: 10px;
}
.b .left{
  width: 100px;
  background-color: palevioletred;
}
.b .right{
  background-color: lightblue;
  flex: 1;
  padding-top: 20px;
}
.b .right .row2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b p{
  background-color: #000;
  color: #fff;
  display: inline-block;
  margin: 2px;
}