*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.a{
  background-color: #fff;
  max-width: 600px;
}
.a .image{
  padding: 12px;
  display: inline-block;
  vertical-align: middle;
}
.a .image img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.a .info{
  vertical-align: middle;
  display: inline-block;
  min-width: 300px;
}
.a button{
  background-color: blue;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 16px;
}
.c{
  background-color: #fff;
  padding: 8px;
}
.c .row{
  width: 600px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  padding: 4px;
}
.c .row .photo{
  display: inline-block;
  width: 250px;
  vertical-align: top;
}
.c .row .photo img{
  width: 100%;
}
.c .row .details{
  display: inline-block;
  width: 250px;
}
.c .row .details h3{
  line-height: 2rem;
}
.c .row .details p{
  margin: 12px 0;
}