*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.a{
  background-color: #fff;
  margin: 10px;
  width: 275px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
.a .left{
  background-color: lightblue;
  width: 200px;
}
.a .right{
  background-color: lightcoral;
  width: 75px;
}
.b{
  background-color: #fff;
  margin: 10px;
  width: 400px;
  height: 20px;
}
.b{
  display: flex;
}
.b .item1{
  flex-basis: 50px;
  background-color: lightblue;
}
.b .item2{
  flex: 1;
  background-color: lightcoral;
}
.b .item3{
  flex-basis: 75px;
  background-color: lightblue;
}
.c, .d{
  background-color: #fff;
  width: 400px;
  /* height: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.c > div, .d > div{
  background-color: lightcoral;
  padding: 8px;
}
.e{
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin: 10px;
  background-color: #fff;
  padding: 8px;
}
.e button{
  background-color: blue;
  color: #fff;
  border: none;
  padding: 2px 6px;
  border-radius: 24px;
}
.f{
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: blueviolet;
}
.f .left{
  width: 100px;
  color: #fff;
}
.f .middle{
  flex: 1;
  max-width: 450px;
}
.f .middle input{
  width: 100%;
  padding: 8px 20px;
  border-radius: 24px;
}
.f .right{
  width: 100px;
}
.f  .right button{
  border: 1px solid #fff;
  background-color: blueviolet;
  color: #fff;
  padding: 8px 20px;
}
.g{
  background-color: #fff;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}
.g .left{
  display: flex;
  justify-content: start;
  align-items: center;
}
.g .left .data{
  margin-left: 8px;
}
.g img{
  width: 70px;
  height: 70px;
  border-radius: 35px;
}
.g .right button{
  background-color: rgb(110, 110, 236);
  color: #fff;
  padding: 8px 20px;
  border: none;
  font-size: 16px;
  margin-right: 4px;
  border-radius: 4px;
}