*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.uber, .amazon, .github, .bootstrap, .linkedin{
  background-color: #fff;
  display: inline-block;
  padding: 20px;
}
.uber button{
  border: none;
  padding: 8px 20px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  transition: opacity 0.4s;
}
.uber button:hover{
  opacity: 0.5;
}
.amazon button{
  background-color: rgb(255, 216, 20);
  border: none;
  padding: 8px 30px;
  border-radius: 24px;
  font-size: 18px;
  transition: background-color 0.4s;
}
.amazon button:hover{
  background-color: rgb(252, 226, 100);
}
.github button{
  background-color: rgb(46, 164, 79);
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
  transition: box-shadow 0.4s;
}
.github button:hover{
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.bootstrap .get{
  background-color: rgb(121, 82, 179);
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.4s;
}
.bootstrap .get:hover{
  background-color: rgb(139, 119, 168);
}
.bootstrap .download{
  background-color: #fff;
  border: 1px solid rgb(108, 117, 125);
  color: rgb(108, 117, 125);
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.4s, color 0.4s;
}
.bootstrap .download:hover{
  background-color: rgb(108, 117, 125);
  color: #fff;
}
.linkedin .apply{
  background-color: rgb(10, 102, 194);
  border: none;
  color: #fff;
  border-radius: 24px;
  padding: 8px 30px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.4s;
}
.linkedin .apply:hover{
  background-color: rgb(7, 64, 121);
}
.linkedin .save{
  background-color: #fff;
  border: 1px solid rgb(10, 102, 194);
  color: rgb(10, 102, 194);
  border-radius: 24px;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
  transition: border-width 0.4s;
}
.linkedin .save:hover{
  border-width: 2px;
}
.challenge{
  background-color: #fff;
  display: inline-block;
  padding: 20px;
  margin-top: 10px;
}
.challenge a{
  color: rgb(0, 113, 133);
}
.challenge a:hover{
  color: brown;
}
.challenge .price{
  color: rgb(0, 118, 0);
}
.challenge .add{
  background-color: rgb(255, 216, 20);
  border: none;
  padding: 8px 30px;
  border-radius: 24px;
  font-size: 18px;
  transition: background-color 0.4s;
}
.challenge .add:hover{
  background-color: rgb(189, 164, 38);
}
.challenge .add:active{
  background-color: rgb(138, 122, 45);
}
.challenge .buy{
  background-color: rgb(255, 164, 28 );
  border: none;
  padding: 8px 30px;
  border-radius: 24px;
  font-size: 18px;
  transition: background-color 0.4s;
}
.challenge .buy:hover{
  background-color: rgb(224, 155, 50);
}
.challenge .buy:active{
  background-color: rgb(175, 131, 64);
}