*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.a{
  background-color: #fff;
  width: 275px;
  height: 20px;
  display: flex;
  align-items: center;
}
.a .a200{
  width: 200px;
  height: 100%;
  background-color: pink;
}
.a .a75{
  background-color: #333;
  width: 75px;
}
.b{
  background-color: #fff;
  margin-top: 8px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b > div{
  background-color: pink;
}
.b .item2{
  flex: 1;
  background-color: lightblue;
}
.c{
  background-color: #fff;
  margin-top: 8px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c > div{
  background-color: pink;
}
.d{
  background-color: #fff;
  margin-top: 8px;
  padding: 20px 0;
  width: 500px;
  border: 2px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d > div{
  background-color: pink;
  padding: 4px 12px;
}
.challenge{
  background-color: #fff;
  padding: 8px;
  width: 100%;
}
.challenge .e{
  width: 300px;
  background-color: whitesmoke;
  padding: 20px 8px;
}
.e .row{
  margin: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.e .row button{
  background-color: rgb(103, 103, 153);
  color: #fff;
  padding: 4px 8px;
  border: none;
  border-radius: 24px;
  font-size: 14px;
}
.challenge .f{
  width: 300px;
  background-color: whitesmoke;
  padding: 20px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.challenge .f .left{
  display: flex;
  align-items: center;
}
.challenge .f .left img{
  margin-right: 8px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.challenge .f .right button{
  background-color: blue;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 24px;
  font-size: 14px;
  font-weight: bold;
}
.challenge .g{
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(106, 13, 143);
}
.challenge .g .left{
  margin-right: 40px;
}
.challenge .g .left h3{
  color: #fff;
}
.challenge .g .middle{
  flex: 1;
}
.challenge .g .middle input{
  padding: 6px 16px;
  border-radius: 24px;
  border: none;
  width: 90%;
}
.challenge .g .right button{
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  background-color: rgb(106, 13, 143);
  padding: 6px 16px;
}