*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.a{
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: red;
}
.b{
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: gray;
  border-radius: 50%;
}
.c{
  background-color: #fff;
  width: 300px;
  border: 1px solid #000;
  padding: 10px;
}
.d{
  background-color: #fff;
  width: 400px;
  padding: 10px;
  margin-top: 10px;
  background-color: #000;
  color: #fff;
}
.e{
  background-color: #fff;
  width: 430px;
  padding: 10px;
}
.e img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
}
.e input{
  border: none;
  font-size: 18px;
}
.e button{
  background-color: blue;
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 24px;
  font-weight: bolder;
}