*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.uber, .amazon, .github, .bootstrap, .linkedin{
  background-color: #fff;
  padding: 10px;
  display: inline-block;
  margin: 2px 8px;
}
.uber button{
  padding: 8px 20px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  transition: opacity 0.2s;
}
.uber button:hover{
  opacity: 0.7;
}
.amazon button{
  padding: 8px 20px;
  border: none;
  background-color: rgb(255, 216, 20);
  border-radius: 24px;
  font-size: 16px;
  transition: background-color 0.2s;
}
.amazon button:hover{
  background-color: rgb(199, 168, 15);
}
.github button{
  padding: 8px 20px;
  border: none;
  background-color: rgb(46, 164, 79);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  font-size: 16px;
  transition: box-shadow 0.2s;
}
.github button:hover{
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.bootstrap .get{
  padding: 8px 20px;
  border: none;
  background-color: rgb(121, 82, 179);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s;
}
.bootstrap .get{
  background-color: rgb(84, 57, 124);
}
.bootstrap .download{
  padding: 7px 20px;
  border: 1px solid rgb(121, 82, 179);
  background-color: #fff;
  color: rgb(121, 82, 179);
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s, color 0.2s;
}
.bootstrap .download:hover{
  background-color:#333;
  color: #fff;
}
.linkedin .apply{
  padding: 8px 20px;
  border: none;
  background-color: rgb(10, 102, 194);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;
  font-size: 16px;
  transition: background-color 0.2s;
}
.linkedin .apply:hover{
  background-color: rgb(15, 68, 121);
}
.linkedin .save{
  padding: 7px 20px;
  border: 1px solid rgb(10, 102, 194);
  background-color: #fff;
  color: rgb(10, 102, 194);
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;  
  font-size: 16px; 
  transition: border 0.2s;
}
.linkedin .save:hover{
  border: 2px solid rgb(10, 102, 194);
}
.challenge{
  background-color: #fff;
  display: inline-block;
  padding: 10px;
}
.challenge a{
  color: rgb(0, 113, 133);
}
.challenge .price{
  color: rgb(0, 118, 0);
}
.challenge .add{
  padding: 8px 20px;
  border: none;
  background-color: rgb(255, 216, 20);
  border-radius: 24px;
  font-size: 16px;
  transition: background-color 0.2s;
}
.challenge .add:hover{
  background-color: rgb(235, 204, 52);
}
.challenge .add:active{
  background-color: rgb(202, 181, 72);
}
.challenge .buy{
  padding: 8px 20px;
  border: none;
  background-color: rgb(255, 164, 28);
  border-radius: 24px;
  font-size: 16px;
  transition: background-color 0.2s;
}
.challenge .buy:hover{
  background-color: rgb(228, 155, 45);
}
.challenge .buy:active{
  background-color: rgb(202, 146, 61);
}
.challenge a:hover{
  color: brown;
}