@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: "Roboto", sans-serif;
}
.columns{
  /* column-count: 3;
  column-width: 250px; */
  columns: 4 150px;
  column-rule: 3px solid #333;
  margin: 10px 0;
  column-gap: 3rem;
}
.columns p{
  text-align: justify;
  margin-top: 0;
}
.columns h2{
  margin-top: 0;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  break-inside: avoid;
  /* break-before: column;
  break-after: column; */
}
.columns .quote{
  background-color: #333;
  color: #fff;
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  column-span: all;

}