*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
  width: 70%;
  margin: 0 auto;
}
section{
  background-color: bisque;
  border: 1px solid #000;
  padding: 1rem;
  /* overflow: auto; */
  display: flow-root;
}
.block{
  background-color: #000;
  width: 100px;
  height: 100px;
  color: #fff;
  margin: 8px;
  
}
.left{
  float: left;
}
.right{
  float: right;
}
p{
  text-align: justify;
}
.clear{
  clear: both;
}